body {
    margin: 0; /* Remove default body margin */
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/background.png');
    background-size: cover;
    filter: brightness(101%) saturate(216%) opacity(55%);
    -webkit-filter: brightness(101%) saturate(216%) opacity(55%);
    -moz-filter: brightness(101%) saturate(216%) opacity(55%);
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}
